* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4CAF50;
}

section {
    margin: 20px 0;
}

h2 {
    color: #4CAF50;
    font-size: 1.6em;
    margin-bottom: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

form label {
    font-weight: bold;
}

form input, form select, form button {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    grid-column: span 2;
    margin-top: 10px;
}

form button:hover {
    background-color: #45a049;
}

form input[type="number"] {
    width: 80%;
}

form input[type="number"], form select {
    font-size: 1.1rem;
}

#result, #eco-result {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#score-tips, #eco-tips, #recommendations-tips {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #4CAF50;
}

h3 {
    color: #333;
}

section hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 2px solid #ddd;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    form {
        grid-template-columns: 1fr;
    }

    form input, form select {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    form button {
        font-size: 1rem;
    }
}
